<!--Proyectos-->
    <section class="container">
        <div class="mb-5">
            <div class="row card border-5 proyectos">

                <div class="row card-body">
                    <h6>Proyectos</h6>
                </div>

                <div class="col-4"><img class="icono" src="../assets/portfolio2.png" alt="...">
                    <h6>Proyecto Porfolio</h6>
                </div>


                <div class="col-8">
                    <p>Portfolio, donde se utilizaron HTML5, CSS, Flexbox, Grid y Bootstrap.
                        Diseño responsive, organizado en sectores.
                        Proximamente, tambien se realizará el Portfolio con Angular y Spring Boot.
                        </p>
                </div>

            </div>
        </div>
    </section>
