<div class="back">

    <div class="div-center">

      <div class="content">

        <h3>Login</h3>
           <hr>

              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div class="form-outline form-white mb-4">
                  <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                    [(ngModel)]="nombreUsuario" required />

                  <label class="form-label" for="nombreUsuario">Ingrese su Usuario</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" name="password" class="form-control form-control-lg"
                    [(ngModel)]="password" required />

                  <label class="form-label" for="password">Ingrese su Password</label>
                </div>

                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

                <button class="btn btn-secondary btn-lg" type="submit">Login</button>

              </form>

      </div>
    </div>

</div>



