

<!--Acerca de…-->

<section class="container">
  <div class="">
      <div class="row card acerca">

          <div class="col-4 card-body "><img class="icono rounded-circle img-responsive" src="../assets/cropped-coding3.png" alt="...">
              <!--<h6 id="nombre">{{persona.nombre}} {{persona.apellido}}</h6>-->
              <h6 id="nombre">Giulliano De Martini Custodia</h6>

              <h6> Full Stack Developer Jr</h6>

              <p> Ciudad Autónoma de Buenos Aires<br>
                  gimarcus@gmail.com<br>
                  <a href="https://github.com/gimarcus1971">gimarcus1971 (github.com)</a><br>
              </p>

          </div>

          <div class="col-8">

              <p> Soy una persona resolutiva y con capacidad para adaptarme a equipos.<br>
                  Especialista en programación para web en formato escritorio y responsive.<br>
                  Me apasiona todo lo digital y en mis experiencias profesionales anteriores, he cosechado
                  varios logros que he incluido en este Portfolio.
              </p>
          </div>

      </div>
  </div>
</section>

